* {
    margin: 0;
    padding: 0;
}

/*Старые стили*/
/*
 @font-face {
    font-family: 'Gilroy-Medium';
    src: url('./fonts/gilroy-medium.eot');
    src: url('./fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/gilroy-medium.woff2') format('woff2'),
        url('./fonts/gilroy-medium.woff') format('woff'),
        url('./fonts/gilroy-medium.ttf') format('truetype');

    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*/
/*  @font-face {
    font-family: 'Gilroy-Bold';
    src: url('./fonts/gilroy-bold.eot');
    src: url('./fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/gilroy-bold.woff2') format('woff2'),
    url('./fonts/gilroy-bold.woff') format('woff'),
    url('./fonts/gilroy-bold.ttf') format('truetype');
    
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
 
 */
/*
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('./fonts/gilroy-semibold.eot');
    src: url('./fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/gilroy-semibold.woff2') format('woff2'),
        url('./fonts/gilroy-semibold.woff') format('woff'),
        url('./fonts/gilroy-semibold.ttf') format('truetype');

    font-weight: 600;
    font-style: normal;
    font-display: swap;
} */
/*Новые стили*/
@font-face {
    font-family: 'gilroy-semigold';
    src: url('../fonts/gilroy-semibold.eot');
    src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-semibold.woff') format('woff'),
        url('../fonts/gilroy-semibold.woff2') format('woff2'),
        url('../fonts/gilroy-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium.eot');
    src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-medium.woff') format('woff'),
        url('../fonts/gilroy-medium.woff2') format('woff2'),
        url('../fonts/gilroy-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold.eot');
    src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-bold.woff') format('woff'),
        url('../fonts/gilroy-bold.woff2') format('woff2'),
        url('../fonts/gilroy-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




body {
    font-family: Gilroy-Medium, Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    --gray-700: #4B4B4B;
    --main-black: #121212;
    --main-white: #fff;
    --gray-400: #A0A0A0;
    --gray-50: #F9F9F9;
    --main-accent: #0392F2;
    --main-accent-hover: #0392F2;
    --gray-100: #D2D2D2;
    color: var(--gray-700);
    background-color: #FFF;
    --gray-900: #232323;
    --gray-500: #838383;
    --gray-200: #BBB;
    --gray-800: #353535;
    --soft-purple: #E7D3FF;
    --gray-600: #666;
    --soft-blue: #CFF3FE;
    --soft-orange: #FFE6D3;
    --main-red: #E01935;
}

h2 {
    color: var(--main-black);
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 0;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

p {
    margin-bottom: 0px;
}

button {
    border: none;
    outline: none;
}

form {
    border: none;
    outline: none;
}

a {
    outline: none;
    text-decoration: none;

}


.wrapper {
    margin-top: 40px;
}

.menu-mob {
    display: none;
}

/* input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
 */

.header {
    background-color: rgba(18, 18, 18, 1);
    padding: 16px 0;
}

.menu-humb__wrap {
    display: none;
}

.header-logo__img {
    display: flex;
    gap: 6px;
    align-items: center;
}

.header-logo__wrap {
    display: flex;

}

.container {
    max-width: 1344px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}

.row {
    margin-right: -12px;
    margin-left: -12px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {

    padding-right: 12px;
    padding-left: 12px;
}

.header-logo__input {
    border-radius: 8px;
    background-color: rgba(35, 35, 35, 1);
    padding: 10px 40px 10px 12px;
    margin-left: 40px;
    width: 324px;
    gap: 8px;
    border: none;
    outline: none;
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.header-logo__link {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
}

.header-logo__forinput {
    margin-right: 16px;
    position: relative;
}

.header-logo__button {
    position: absolute;
    right: 12px;
    bottom: 10px;
    background-color: transparent;
    cursor: pointer;
}

.header-logo__geolocation {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header-icons__item {
    border-radius: 8px;
    background-color: rgba(35, 35, 35, 1);
    padding: 10px;
    display: flex;
}

.header-icons__social {
    display: flex;
    gap: 12px;
    padding-right: 24px;

}

.header-icons__wrap {
    display: flex;
    align-items: center;
}

.header-icons__link {
    color: var(--main-white);
    text-decoration: underline;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
}

.header-icons__link:hover {
    text-decoration: underline;
}

.header-icons__login {
    display: flex;
    gap: 4px;
    align-items: center;
}

.header-icons__login svg {
    min-width: 20px;
}

.footer {
    background-color: rgba(18, 18, 18, 1);
    padding: 48px 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.footer-inner__logo {
    max-width: 28%;
}

.footer-inner__img {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 16px;
    max-width: 50%;
}

.footer-inner__input {
    border-radius: 8px;
    background-color: rgba(35, 35, 35, 1);
    padding: 10px 40px 10px 12px;
    width: 100%;
    border: none;
    outline: none;
    color: var(--main-white);
}

.footer-inner__button {
    position: absolute;
    right: 9px;
    bottom: 10px;
    background-color: transparent;
    cursor: pointer;
}

.footer-inner__item {
    border-radius: 8px;
    background-color: rgba(35, 35, 35, 1);
    padding: 10px;
    display: inline-flex;
}

.footer-inner__text {
    color: rgba(160, 160, 160, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding-bottom: 16px;
}

.footer-inner__forinput {
    position: relative;
    margin-bottom: 8px;
}

.footer-table__columnBlock {
    display: flex;
    gap: 112px;
}

.footer-table__title {
    color: var(--main-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.footer-table__item {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 8px;
}

.footer-table__title {
    padding-bottom: 16px;
}

.footer-inner__link {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
}

.footer-inner__geolocation {
    max-width: 20%;
}

.footer-inner__copyright {
    color: rgba(160, 160, 160, 1);

    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

.footer-inner__geolocationLink {
    display: flex;
    text-align: center;
    gap: 4px;
    padding-bottom: 34px;
}



.cards-inner__description {
    color: rgba(18, 18, 18, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 6px;
}

.cards-inner__tabs-link {
    color: rgba(18, 18, 18, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 12px 16px;
    width: 100%;
    height: auto;
}

.cards-inner__mainTitle {
    color: var(--main-black);
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
}

.cards-inner__tabs-link.active {
    border-bottom: 4px solid var(--main-black, #121212);
}

.cards-inner__tabs-item {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 24px;
    border-bottom: 1px solid #BBB;
}


.cards-inner__pic {
    display: flex;
    margin: 20px 0;
    border-radius: 8px;
    background: var(--main-white);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
}

.cards-inner__photo {
    margin-right: 20px;
}


.cards-inner__info {
    display: flex;
    flex-direction: column;
}

.cards-inner__text {
    color: var(--gray-700);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 16px;
}

.cards-inner__title {
    color: var(--main-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;
}

.cards-inner__avtour {
    color: rgba(18, 18, 18, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 16px;
}

.cards-inner__avtour-link {
    color: var(--main-accent);

}

._js-tabs-info {
    display: none;
}

._js-tabs-info.active {
    display: block;
}

._js-tabs-title {
    cursor: pointer;
}

.cards-inner__buttoms {
    display: flex;
    gap: 16px;
}

.cards-inner__button {
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--main-accent, #E01935);
    color: var(--main-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    width: 175px;
}

.cards-inner__button:hover {
    background: var(--main-accent-hover);
}

.cards-inner__buttonSecond {
    color: var(--main-black, #121212);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    padding: 10px 20px;
    background: var(--main-white);
    cursor: pointer;
    width: 179px;
}

.cards-inner__load {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    color: var(--main-white);
    margin-bottom: 60px;
    cursor: pointer;
}

.cards-inner__loadButton {
    color: var(--main-black);

    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    background-color: transparent;
}

.directions-top__menu {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 24px;
}

.directions__button {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

}

.directions-top__block {
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    padding: 10px 12px;
    width: 189px;
}

.directions-top__block svg {
    margin-right: 6px;
}


.directions-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.directions-wrap__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 184px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 18px;
    color: var(--main-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    position: relative;
    overflow: hidden;
}

.directions-wrap__img span {
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.directions-wrap__bg {
    background: linear-gradient(180deg, rgba(28, 28, 28, 0.00) 41.67%, rgba(28, 28, 28, 0.96) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}

section {
    margin-bottom: 60px;
}

.directions-wrap__img:hover {
    transform: scale(1.05);

}

.directions-wrap__banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.left-menu__iconOne {
    border-radius: 6px;
    background: #FFD3DB;
    padding: 10px;
    display: flex;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
}

.left-menu__iconTwo {
    border-radius: 6px;
    background: #FFE6D3;
    padding: 10px;
    display: flex;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
}

.left-menu__iconThree {
    border-radius: 6px;
    background: #CFF3FE;
    padding: 10px;
    display: flex;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
}

.left-menu__wrap {
    display: grid;
    gap: 32px;
    padding-bottom: 60px;
}

.left-menu__item {
    display: grid;
    grid-template-columns: 38px auto;
    gap: 12px;
    padding: 8px;
    align-items: center;
    border-radius: 8px;
    background: var(--main-white);
}



.left-menu__item:hover {
    border-radius: 8px;
    background: var(--gray-50);
}

.left-menu__item:hover .left-menu__arrow svg path {
    stroke: #232323;
}

.left-menu__title {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    white-space: nowrap;
}

.left-menu__titleSecond {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
}

.left-menu__block {
    display: grid;
    gap: 2px;
    width: 100%;
}


.left-menu__elem {
    display: grid;
    grid-template-columns: 38px auto;
    gap: 12px;
}

.left-menu__description {
    color: var(--gray-400);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    white-space: nowrap;
}

.left-menu__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-menu__arrow {
    justify-self: end;
}

.left-menu__mainTitle {
    color: var(--main-black);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 0 8px 8px 8px;
}

.left-menu__button {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--main-accent);
    background: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--main-accent);
    margin-top: 8px;


}

.left-menu__button:hover {
    background: var(--main-accent);
    color: var(--main-white);

}


.slider-section {
    margin-bottom: 42px;
}

.slider-bannerMain {
    padding-bottom: 40px;
}

.slider-bannerMain__item img {
    max-width: 100%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #0392F2;
}

.left-menu {
    position: relative;
}

.mobile-search__input {
    background-color: var(--main-white);
    border-radius: 8px;
    padding: 10px 40px 10px 12px;
    width: 324px;
    gap: 8px;
    border: none;
    outline: none;
    color: var(--main-white);
    position: relative;
}

.mobile-search {
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    margin-bottom: 24px;
}

.mobile-search__button {
    position: absolute;
    right: 30px;
    top: 33px;
    background: var(--main-white);
}

.header-icons__seacrh {
    display: none;
}



.big-picture {
    margin-bottom: 24px;
}

.profile-info__wrap {
    display: flex;
    gap: 24px;
    margin-bottom: 60px;

}

.profile-info__btn-change {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 165px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    gap: 6px;
}

.profile-info__svg-icon {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    gap: 6px;
}

.profile-info__wrapSecond {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;


}

.profile-info__status {
    color: var(--main-accent);
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;

}

.profile-info__title {
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile-info__title svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 93px;
    right: 0;
}


.profile-info__login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;

}

.profile-info__blockButtons {
    display: flex;
    gap: 10px;
}

.profile-info__name {
    color: var(--main-black);
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 4px;
}

.profile-info__text {
    color: var(--gray-900);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 14px;
}

.profile-info__place {
    color: var(--gray-900);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.profile-info__dateOfBirth {
    color: var(--gray-900);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding-top: 4px;
}

.profile-info__placeSecond {
    color: var(--gray-500);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding-right: 6px;
}

.profile-info__rating {
    margin-bottom: 14px;
    display: flex;
    gap: 4px;
}

.profile-info__geolocation {
    margin-bottom: 14px;
}

.profile-info__hobby {
    color: var(--gray-900);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.profile-info__buttons {
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    padding: 10px 12px;
    white-space: nowrap;
    height: 40px;
}

.profile-info__buttons svg {
    margin-right: 6px;
}

.profile-info__button {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

}

.profile-info__icon {
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 40px;
}

.profile-info__button-profile {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background: var(--main-accent);
    height: 40px;
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.profile-info__mainPhoto {
    max-width: 200px;
    max-height: 200px;
}

.posts-search__blockSecond {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 19px;
}

.posts-search__textBlock {
    text-align: center;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.posts-search__btn {
    outline: none;
    border: none;
}

.posts-search__blockSvg {
    display: flex;
    gap: 8px;
}

.posts-search__block {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.main-info__blockButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts-search__input-first {
    width: 567px;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    color: var(--gray-400);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    text-decoration: none;
    outline: none;
}

.posts-search__btn-posts {
    width: 172px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid var(--main-accent);
    gap: 10px;
    color: var(--main-accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
}

.main-info__tabs-item {
    margin-bottom: 24px;
    border-bottom: 1px solid #BBB;
    overflow-y: auto;
}

.main-info__forinput {
    margin-right: 16px;
    position: relative;
}

.main-info__input {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 8px;
    color: var(--gray-400);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 663px;
    border: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    background: var(--main-white);
}

.main-info__searchBlock {
    margin-bottom: 24px;
    display: flex;
}

.main-info__buttonSecond {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background: var(--gray-800);
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.main-info__description {
    color: var(--gray-500);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 10px;
}

.main-info__img {
    width: 40px;
    height: 40px;
    border-radius: 60px;

}

.main-info__newArticle {
    display: flex;
    padding: 24px 16px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    background: var(--gray-50);
}


.main-info__articleButtons {
    display: flex;
    align-items: center;
}

.main-info__card {
    display: flex;
    margin: 20px 0;
    border-radius: 8px;
    background: var(--main-white);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
}

.main-info__card-title {
    color: var(--main-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;
}

.main-info__card-text {
    color: var(--gray-700);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 16px;
}

.main-info__card-button {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background: var(--main-accent);
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 129px;
}

.main-info__cardPic img {
    width: 340px;
    height: 252px;
}

.main-info__card-description {
    color: rgba(18, 18, 18, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 6px;
}

.main-info__card-info {
    display: flex;
    flex-direction: column;
}

.main-info__cardPic {
    margin-right: 20px;
}

.main-info__buttons {
    display: flex;
    gap: 24px;
    padding-top: 8px;
}

.main-info__articleBlock {
    display: flex;
    align-items: center;
}

.main-info__articleBlockSecond {
    display: flex;
    flex-direction: column;

}

.main-info__articleButton {
    color: var(--main-accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-left: 4px;
}



.main-info__button {
    position: absolute;
    right: 12px;
    bottom: 10px;
    background-color: transparent;
    cursor: pointer;
}

.main-info__flow-title {
    color: var(--main-black);
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
}

.main-info__flow {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info__flow svg {
    margin-right: 4px;
}

.main-info__flow-button {
    color: var(--main-accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.main-info__flow-block {
    display: flex;
    align-items: center;
}

.main-info__change-page {
    display: flex;
    margin-bottom: 40px;
    gap: 10px;
}

.main-info__change-button {
    display: flex;
    width: 160px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.main-info__change-buttonProfile {
    display: flex;
    width: 160px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.main-info__change-buttonProfileOne {
    display: flex;
    width: 79px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.main-info__change-buttonProfileTwo {
    display: flex;
    width: 117px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.main-info__change-buttonProfileThree {
    display: flex;
    width: 160px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.main-info__blockButtons {
    display: flex;
    align-items: baseline
}

.main-info__btnSett {
    color: var(--gray-900);
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
    border-bottom: 1px solid var(--gray-900);

}

.main-info__regestration {
    color: #E01935;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border-bottom: 1px solid #E01935;

}

.main-info__blocked {
    display: flex;
    justify-content: center;
}



.main-info__change-buttonProfile.active {
    border: 1px solid var(--main-accent);
    color: var(--main-accent);
}

.main-info__change-buttonProfileOne.active {
    border: 1px solid var(--main-accent);
    color: var(--main-accent);
}

.main-info__change-buttonProfileTwo.active {
    border: 1px solid var(--main-accent);
    color: var(--main-accent);
}

.main-info__change-buttonProfileThree.active {
    border: 1px solid var(--main-accent);
    color: var(--main-accent);
}

.main-info__change-button.active {
    border: 1px solid var(--main-accent);
    color: var(--main-accent);
}




.main-info__tabs-inner {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.main-info__tabs-link {
    color: rgba(18, 18, 18, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 12px 16px;
    width: 100%;
    height: auto;
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px;
}

.main-info__tabs-link.active {
    border-bottom: 4px solid var(--main-black, #121212);
}

.main-info__title {
    color: var(--main-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 10px;
}

.main-info__text {
    color: var(--gray-700);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding-bottom: 10px;
}

.main-info__block {
    padding-bottom: 24px;
}

.main-page .left-menu__wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.breadcrumbs-link__main {
    color: var(--gray-200);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.breadcrumbs-link__login {
    color: var(--main-black);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.breadcrumbs__wrap {
    margin-bottom: 24px;
    gap: 8px;
    display: flex;
}

.right-menu {
    margin-top: 37px;
}

.right-menu__wrap {
    display: flex;
    flex-direction: column;
}

.right-menu__title {
    white-space: nowrap;
    color: var(--main-black);
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.right-menu__time {
    color: var(--main-black);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}

.right-menu__text {
    color: var(--gray-700);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}

.right-menu__button {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--gray-800);
    width: 172px;
}

.right-menu__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding: 14px;
    border-radius: 8px;
    background: var(--gray-50);
}

.right-menu__comments {
    color: var(--gray-900);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 16px;
}

.right-menu__blockSecond {
    padding: 14px;
    border-radius: 8px;
    background: var(--gray-50);
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.right-menu__blockPicture {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}

.right-menu__img {
    border-radius: 6px;
    background-color: #D9D9D9;
}

.right-menu__buttonSecond {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--main-accent);
    background: var(--main-white);
    color: var(--main-accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.right-menu__showButton {
    color: var(--main-accent);
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

.evens-menu-mob {
    display: none;
}

.profile-info__hashtag-block {
    display: none;
}

.main-info__blockPic {
    display: none;
}

.welcome__title {
    color: var(--main-black);
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 24px;
}

.welcome__description {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 24px;
}

.steps__wrap {
    padding: 24px;
}

.steps__block {
    display: flex;
    gap: 14px;
    padding-bottom: 24px;
    align-items: center;
}

.steps__secondTitle {
    color: var(--main-black);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 8px;
}



.steps__svgOne {
    padding: 10px;
    background: var(--soft-purple);
    border-radius: 6px;
}

.steps__svgTwo {
    padding: 10px;
    background: var(--soft-blue);
    border-radius: 6px;
}

.steps__svgThree {
    padding: 10px;
    background: var(--soft-orange);
    border-radius: 6px;
}

.steps__title {
    color: var(--main-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.steps__description {
    color: var(--gray-600);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding-bottom: 24px;
}

.steps__buttoms-block {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background: var(--gray-800);
}

.steps__buttonTwo {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.steps__buttonOne {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    /* 128.571% */
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    background: var(--main-white);
}

.steps__buttoms {
    display: flex;
    justify-content: space-between;
}

.popup {
    display: none;
    position: relative;
    height: 100%;

}

.popup.active {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}



.popup-authorization__form {
    padding: 40px 32px 32px 32px;
    position: relative;
    background-color: var(--main-white);
    border-radius: 8px;
}



.popup-registration__form {
    padding: 40px 32px 32px 32px;
    position: relative;
    background-color: var(--main-white);
    border-radius: 8px;
}

.popup-forgot-password__form {
    padding: 40px 32px 32px 32px;
    position: relative;
    background-color: var(--main-white);
    border-radius: 8px;
}


.popup-authorization__close-form {
    position: absolute;
    right: 16px;
    cursor: pointer;
    top: 16px;
}

.popup-registration__close-form {
    position: absolute;
    right: 16px;
    cursor: pointer;
    top: 16px;
}

.popup-authorization__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: var(--main-black);
    margin-bottom: 32px;
}

.popup-authorization__header {
    display: flex;
}

.popup-authorization__input-title {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 4px;
}

.popup-registration__input input {
    border: none;
    outline: none;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    width: 360px;
    padding: 10px 12px;
    gap: 8px;
}

.popup-forgot-password__input input {
    border: none;
    outline: none;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    width: 360px;
    padding: 10px 12px;
    gap: 8px;
    margin-bottom: 16px;
}

.popup-authorization__input input {
    border: none;
    outline: none;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    width: 360px;
    padding: 10px 12px;
    gap: 8px;
    margin-bottom: 4px;
}

.popup-registration__input input {
    border: none;
    outline: none;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    width: 360px;
    padding: 10px 12px;
    gap: 8px;
    margin-bottom: 4px;
}

.popup-registration__input-block-checkbox {
    display: flex;
    width: 360px;
    margin-bottom: 16px;
}



.popup-registration__input-checkbox {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}

.popup-registration__input-checkbox__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #18212C;
}



.popup-authorization__join-button {
    display: flex;
    width: 360px;
    padding: 10px 20px;
    gap: 6px;
    background-color: var(--main-accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--main-white);
    border-radius: 8px;
    justify-content: center;
}

.popup-authorization__forgotPassword {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--main-accent);
}

.popup-authorization__input-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.popup-registration__input-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.popup-forgot-password__input-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}



.popup-authorization__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup-registration__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup-forgot-password__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}




.popup-authorization__buttons-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 32px;
    gap: 10px;
}

.popup-authorization__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.popup-authorization__buttons-vk {
    display: flex;
    border: 1px solid var(--gray-100);
    padding: 10px 12px;
    border-radius: 8px;
    width: 360px;
    justify-content: center;
    align-items: center;
}

.popup-authorization__buttons-apple {
    display: flex;
    border: 1px solid var(--gray-100);
    padding: 10px 12px;
    border-radius: 8px;
    width: 360px;
    justify-content: center;
    align-items: center;

}

.popup-authorization__buttons-classmates {
    display: flex;
    border: 1px solid var(--gray-100);
    padding: 10px 12px;
    border-radius: 8px;
    width: 360px;
    justify-content: center;
    align-items: center;
}

.popup-authorization__buttons-classmates svg {
    margin-right: 6px;
}

.popup-authorization__apple-button {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.popup-authorization__classmates-button {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.popup-authorization__buttons-apple svg {
    margin-right: 6px;
}

.popup-authorization__buttons-vk svg {
    margin-right: 6px;
}

.popup-authorization__vk-button {
    color: var(--main-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.popup-authorization__error {
    border: none;
    outline: none;
    border: 1px solid var(--main-red);
    border-radius: 8px;
    width: 360px;
    padding: 10px 12px;
    gap: 8px;

}

.popup-authorization__error-text svg {
    margin-right: 6px;
}

.popup-registration__error-text svg {
    margin-right: 6px;
}

.popup-authorization__error-text {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--main-red);
    display: none;
}

.popup-registration__error-text {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--main-red);
    display: none;
}

.popup-authorization__registration {
    color: var(--main-accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 360px;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 6px;
    border: 1px solid var(--main-accent);
    display: flex;
    justify-content: center;

}

.popup-registration__btn {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 360px;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 6px;
    border: 1px solid var(--main-accent);
    background-color: var(--main-accent);
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.popup-forgot-password__btn {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 360px;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 6px;
    border: 1px solid var(--main-accent);
    background-color: var(--main-accent);
    display: flex;
    justify-content: center;
    
}

.popup-reg-new-password__btn {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 360px;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 6px;
    border: 1px solid var(--main-accent);
    background-color: var(--main-accent);
    display: flex;
    justify-content: center;
}

.popup-registration__btnLogin {
    color: var(--main-accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 360px;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 6px;
    border: 1px solid var(--main-accent);
    display: flex;
    justify-content: center;
}

.popup-registration__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: var(--main-black);
    margin-bottom: 16px;

}

.popup-registration__header {
    display: flex;
    flex-direction: column;
}

.popup-forgot-password__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.popup-reg-new-password__header {
    display: flex;
    flex-direction: column;
}

.popup-forgot-password__back-form {
    margin-right: 8px;
    cursor: pointer;
}

.popup-forgot-password__close-form {
    position: absolute;
    right: 16px;
    cursor: pointer;
    top: 16px;
}



.popup-reg-new-password__close-form {
    position: absolute;
    right: 16px;
    cursor: pointer;
    top: 16px;
}

.popup-forgot-password__text {
    color: #18212C;
    line-height: 14px;
    font-size: 12px;
    width: 360px;
}

.popup-forgot-password__header-block {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}

.popup-forgot-password__title {
    line-height: 22px;
    color: var(--main-black);
    font-size: 22px;
    font-weight: 700;
}

.popup-reg-new-password__title {
    line-height: 22px;
    color: var(--main-black);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 32px;
}


.popup-registration__input-title {
    color: var(--main-black);
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
}

.popup-forgot-password__input-title {
    color: var(--main-black);
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
}

.popup-registration__description {
    color: var(--gray-700);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 32px;
    width: 360px;
}


body.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}


.main-info__card-authorized {
    padding: 20px;
}

.main-info__cardPic-authorized {
    color: var(--main-black);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
}

.main-info__card-info-authorized {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-info__grade {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;

}

.main-info__views {
    color: var(--gray-400);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

}

.main-info__discoveries {
    color: var(--gray-400);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.main-info__likes-nubmer {
    color: #727273;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.main-info__likes {
    display: flex;

}

.main-info__block-likes {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 24px;
}

.right-menu__banner {
    padding: 9px 11px;
    margin-bottom: 10px;
    background-image: url(../img/backround-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.right-menu__banner-title {
    color: var(--main-black);
    font-size: 32px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 13px;
}

.right-menu__banner-text {
    color: var(--main-black);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 57px;
}

.right-menu__btn {
    color: var(--main-accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 178px;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 6px;
    border: 1px solid var(--main-accent);
    display: flex;
    justify-content: center;
    background-color: var(--main-white);
}





@media screen and (max-width: 991px) {
    .directions-wrap__banner {
        height: 200px;
        margin-top: 16px;
    }

    .cards-inner__buttoms {
        flex-direction: column;
        gap: 8px
    }

    .header-icons__link {
        display: none;
    }

    .header-icons__item {
        display: none;
    }

    .header-logo__geolocation {
        display: none;
    }

    .header-logo__forinput {
        display: none;
    }

    .menu-humb__wrap {
        display: block;
    }

    .menu-humb {
        width: 24px;
        min-width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-humb.active {
        padding-right: 6px;
    }

    .icon-humb {
        width: 20px;
        height: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .menu-humb.active .icon-humb {
        width: 19px;
    }

    .icon-humb__line {
        background: #fff;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        transition: transform 0.2s ease-in-out;
    }

    .icon-humb__line:first-child {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .icon-humb__line:last-child {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .menu-humb.active .icon-humb__line {
        transform: scale(0);

    }

    .menu-humb.active .icon-humb__line:first-child {
        transform: rotate(45deg);
        width: 110%;
    }

    .menu-humb.active .icon-humb__line:last-child {
        transform: rotate(-45deg);
        width: 110%;
    }

    .menu-mob {
        display: block;
        position: fixed;
        top: 53px;
        left: -1000px;
        overflow-y: auto;
        width: 100%;
        transition: 0.5s;
        height: 100vh;
        background-color: var(--main-white);
        padding-bottom: 53px;
    }

    .menu-mob.active {
        z-index: 80;
        left: 0;
    }

    .menu-mob__inner {
        padding: 24px 16px;

    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .wrapper {
        margin-top: 94px;
    }

    .header-icons__wrap.icons-hidden {
        opacity: 0;
        visibility: hidden;
    }

    .left-menu__wrap {
        position: static;
        gap: 24px;
    }

    .left-menu {
        padding-bottom: 0px;
    }

    .header-icons__login {
        gap: 16px;

    }

    .header-icons__seacrh {
        display: block;
    }

    .menu-mob__item {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 8px;
        background: #353535;
        margin-left: 16px;
        gap: 12px;
        margin-bottom: 24px;
    }

    .menu-mob__icons-social {
        display: flex;
    }

    .menu-mob__footer-button {
        color: var(--main-white);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    .menu-mob__footer {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        align-self: stretch;
        border-radius: 8px;
        background: #353535;
        margin: 24px 16px;
    }

    .menu-mob__footerBlock {
        background: var(--main-black);
        display: flex;
        flex-direction: column;
    }

    .menu-mob__geolocation {
        display: flex;
        margin: 0px 16px 16px 16px;
        gap: 4px;

    }

    .menu-mob__link {
        color: var(--main-white);
        font-family: Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }

    .menu-mob__geolocation svg {
        background: var(--main-black);
    }

    .evens-menu-mob {
        display: block;
        position: fixed;
        top: 53px;
        right: -1000px;
        overflow-y: auto;
        width: 100%;
        transition: 0.5s;
        height: 100vh;
        background-color: var(--main-white);
    }

    .evens-menu-mob.active {
        z-index: 80;
        right: 0;
    }

    .right-menu__head {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .evens-menu-mob .profile-info__mainPhoto {
        max-width: 76px;
        max-height: 76px;
    }

    .right-menu__close {
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }

    .profile-info__more {
        cursor: pointer;
        color: #4B7EFF;
        font-size: 12px;
        line-height: 18px;
        display: none;
    }

    .profile-info__more span {
        margin-left: 7px;
    }

    .profile-info__name {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
    }

    .profile-info__title {
        gap: 0;
    }

    .right-menu__blockPicture {
        grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr;
        gap: 15px;
    }

    .right-menu__titleSection {
        color: var(--main-black);
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .right-menu__textSection {
        color: var(--gray-700);
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
    }

    .right-menu__mobButton {
        color: var(--main-white);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        align-self: stretch;
        border-radius: 8px;
        background: var(--gray-800);
    }

    .profile-info__title svg {
        left: 66px;
    }

}

@media screen and (max-width: 767px) {
    .directions__button {
        display: none;
    }

    .directions-top__block {
        width: 46px;
    }

    .directions-top__block svg {
        margin-right: 0;
    }

    .directions-wrap__banner {
        height: 140px;
    }

    .directions-wrap {
        gap: 10px;
    }

    .cards-inner__button {
        width: 100%;
    }

    .cards-inner__buttonSecond {
        width: 100%;
    }

    .footer-table__column {
        display: none;
    }

    .footer-inner {
        flex-direction: column;
    }

    .footer-inner__logo {
        max-width: 100%;
    }

    .footer-inner__text {
        max-width: 100%;
    }

    .footer-inner__item {
        margin-bottom: 32px;
    }

    .footer-inner__geolocationLink {
        padding-bottom: 8px;
    }

    .footer-inner__geolocation {
        max-width: 100%;
    }


    h2 {
        font-size: 22px;
        line-height: 22px;
    }

    .cards-inner__mainTitle {
        font-size: 22px;
        line-height: 22px;


    }

    .cards-inner__pic {
        flex-direction: column;
        margin-bottom: 16px;
        padding: 10px;
    }

    .cards-inner__photo {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .main-info__tabs-inner {
        justify-content: start;
    }

    .profile-info__blockButtons {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 0;
        right: 0;

    }

    .profile-info__wrap {
        position: relative;
        flex-direction: column;
        margin-bottom: 10px;

    }

    .profile-info__blockSecond {
        display: flex;
        margin-bottom: 12px;
    }

    .profile-info__name {
        margin-right: 33px;
    }

    .profile-info__hobby {
        padding-bottom: 12px;
    }

    .profile-info__hashtag {
        border-radius: 25px;
        background: #4B7EFF;
        width: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
    }

    .profile-info__hashtag a {
        color: #FFF;
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
    }

    .profile-info__hashtag-block {
        padding-bottom: 12px;
        display: flex;
        gap: 5px;
    }

    .main-info__blockPic {
        display: block;
    }

    .main-info__blockPic button {
        width: 129px;
    }

    .main-info__blockPic h3 {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        max-width: 50%;
    }

    .main-info__tabs-link {
        font-size: 12px;
    }

    .profile-info__wrap-mob {
        display: flex;
        gap: 24px;
        margin-bottom: 40px;

    }

    .profile-info__more {
        display: flex;
    }

}

@media screen and (max-width: 575px) {
    .directions-wrap {
        grid-template-columns: repeat(2, 1fr);

    }

    .directions-wrap span {
        font-size: 16px;
        line-height: 20px;
    }

    .cards-inner__photo img {
        max-width: 100%;
    }

    .cards-inner__tabs-link {
        font-size: 14px;
        line-height: 18px;
    }

    .cards-inner__title {
        font-size: 16px;
        line-height: 20px;
    }

    .cards-inner__description {
        color: var(--Main-Black, #121212);
        font-size: 12px;
        line-height: 14px;
    }

    .profile-info__mainPhoto {
        max-width: 76px;
        max-height: 76px;
    }

}